*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width : 768px){
    .container{
        width: 750px;
    }
}
@media (min-width : 992px){
    .container{
        width: 970px;
    }
}
@media (min-width : 1200px){
    .container{
        width: 1170px;
    }
}
.cards{
    background: rgb(254,106,102);
    background: linear-gradient(175deg, rgba(254,106,102,1) 19%, rgba(245,146,105,1) 78%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 50px;
}
.cards .card{
    background-color: white;
    padding: 18px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title , .price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    margin-bottom: 10px;
}
.title p{
    text-align: center;
    font-size: 17px;
    color: rgb(71, 71, 71);
    font-weight: 400;
    
}
.title h2{
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
}
.price h3{
    font-size: 45px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
}
.price sub{
    font-size: 16px;
    margin-left: -10px;

}
.price sup img{
    position: absolute;
    top: 16px;
    left: -20px;
    width: 20px;
    height: 20px;
}
.renew {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    color: #babcbb;
}
.renew p{
    font-size: 15px;
    font-weight: 500;
}
ul li{
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    color: #64655f;
    font-weight: 500;
}
.foot{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 18px;
}
button{
    outline: none;
    border: none;
    width: fit-content;
    display: block;
    padding: 12px 70px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
}
.single button:hover,
.premium button:hover,
.ultimate button:hover{
    transition: all 0.3s;
    border-radius: 5px;
    background-color: #fd6e1f;
}
.single h2,.single .price{
    color: #fe0000;
}
.single button{
    background-color: #fe0000;
}
.single ::selection{
    background: white;
    color: #fe0000;
}
.premium{
    position: relative;
    transform: scale(1.1);
}
@media (max-width:991px){
    .premium{
        transform: scale(1);
    }
    .cards .container{
        gap: 25px;
    }
}
.premium ::selection{
    background-color: transparent;
    color: #b924f0;
}
.premium .banner{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.premium .banner::before,
.premium .banner::after{
    content: "";
    position: absolute;
    display: block;
    border: 5px solid #aa20cd;
    border-left-color: transparent;
    z-index: -2;
    border-top-color: transparent;
}
.premium .banner::before{
    top: 0;
    right: 30px;
}
.premium .banner::after{
    bottom: 30px;
    left: 0;
}
.premium .banner span{
    position: absolute;
    background-color: #b924f0;
    width: 200px;
    padding: 10px 0;
    color: white;
    text-align: center;
    top: 25px;
    right: 0;
    text-transform: uppercase;
    transform: rotate(-45deg);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.premium .banner ::selection{
    background-color: #b924f0;
    color: white;
}
.premium h2,.premium .price{
    color: #b924f0;
}
.premium button{
    background-color: #b924f0;
}
.ultimate h2, .ultimate .price{
    color: #f5b55b;
}
.ultimate ::selection{
    background-color: white;
    color: #f5b55b;
}
.ultimate button{
    background-color: #f5b55b;
}



.price img{
    width: 15px;
    height: 15px;
}

.card li img{
    width: 18px;
    height: 20px;
}
.foot img{
    width: 18px;
    height: 18px;
}
.renew img{
    width: 18px;
    height: 18px;
}